.login-header {
  font-size: 32px;
  font-weight: 400;
}

.login-view {
  height: 100vh;
}

.login-card {
  min-height: 300px;
  max-width: 350px;
}

.header {
  font-size: 40px;
}

.main-view {
  height: calc(100vh - 152px);
}

a {
  color: #FFF;
  text-decoration: none;
}

span {
  text-align: center;
}

.footer {
  font-size: 0.6em;
  height: 60px;
}
.hint {
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  /* Copy styles from ng-messages */
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  /* Set our own color */
  color: grey;
}
