<section class="login">
  <div class="login-box">
    <section class="login_content">
      <div class="title">Factura Tracker</div>
      <form>
        <h1>Ingresar</h1>
        <div>
          <input type="text" class="form-control" placeholder="Usuario" required="" ng-model="vm.email">
        </div>
        <div>
          <input type="password" class="form-control" placeholder="Contraseña" required="" ng-model="vm.password">
        </div>
        <div>
          <a class="" ng-click="vm.signInWithEmailAndPassword()">Ingresar</a>
        </div>
        <div class=""></div>
        <div class="">
          <p class="">Nuevo en el sitio?
            <a ui-sref="register" class=""> Crear una cuenta </a>
          </p>
          <div class=""></div>
          <br>
        </div>
      </form>
      <!-- form -->
    </section>
  </div>
</section>
