<section class="login">
  <div class="login-box">
    <section class="login_content">
      <div class="title">Factura Tracker</div>
      <form>
        <h1>Ingresar</h1>
        <div>
          <input type="text" class="form-control" placeholder="Usuario" required="">
        </div>
        <div>
          <input type="password" class="form-control" placeholder="Contraseña" required="">
        </div>
        <div>
          <a class="btn btn-default submit font-family" ui-sref="rules">Ingresar</a>
        </div>
        <div class="clearfix"></div>
        <div class="separator">
          <p class="change_link font-family">Nuevo en el sitio?
            <a ui-sref="register" class="to_register font-family"> Crear una cuenta </a>
          </p>
          <div class="clearfix"></div>
          <br>
        </div>
      </form>
      <!-- form -->
    </section>
  </div>
</section>
