<section class="">
  <div class="">
    <section class="">
      <div class="title">Factura Tracker</div>
      <form>
        <h1>Registrarse</h1>
        <div>
          <input type="email" class="form-control" placeholder="Email" required="" ng-model="vm.email">
        </div>
        <div>
          <input type="password" class="form-control" placeholder="Usuario" required="" ng-model="vm.password">
        </div>
        <div>
          <a class="" ng-click="vm.createUserWithEmailAndPassword()">Registrarse</a>
        </div>
        <div class=""></div>
        <div class="">
          <p class="">Ya estás registrado?
            <a ui-sref="login" class=""> Log in </a>
          </p>
          <div class=""></div>
        </div>
      </form>
      <!-- form -->
    </section>
  </div>
</section>
