<md-toolbar class="md-medium-tall" layout layout-align="center center" flex>
  <div flex="5"></div>
  <div flex="10" layout layout-align="start center">
    <md-button ui-sref="home" class="md-icon-button" aria-label="home">
      <md-tooltip md-direction="top">
        Inicio
      </md-tooltip>
      <md-icon md-svg-src="images/home.svg"></md-icon>
    </md-button>
    <md-button ui-sref="rules" class="md-icon-button" aria-label="rules">
      <md-tooltip md-direction="top">
        Reglas
      </md-tooltip>
      <md-icon md-svg-src="images/list.svg"></md-icon>
    </md-button>
  </div>
  <div layout layout-align="center center" flex="70">
    <span class="header">Factura Tracker</span>
  </div>
  <div flex="10" layout layout-align="end center">
    <md-button ng-click="vm.signout();" class="md-icon-button" aria-label="Sign out">
      <md-tooltip md-direction="top">
        Salir
      </md-tooltip>
      <md-icon md-svg-src="images/sign-out.svg"></md-icon>
    </md-button>
  </div>
  <div flex="5"></div>
</md-toolbar>

<main class="main-view">
  <md-content layout="column" layout-fill>
    <br>
    <md-card class="title-card" layout="row" md-whiteframe="8">
      <div flex="20"></div>
      <div flex="60" layout="row" layout-align="center center">
        <form ng-submit="vm.addRule()" flex="100" layout layout-align="end center">
          <div flex="20"></div>
          <div flex="50">
            <md-input-container class="md-block">
              <label>Nueva Regla</label>
              <input ng-model="vm.newRuleText" required>
            </md-input-container>
          </div>
          <div flex="10">
            <md-button class="md-fab md-mini md-accent" aria-label="Agregar" type="submit">
              <md-icon md-svg-src="images/add.svg"></md-icon>
            </md-button>
          </div>
          <div flex="20"></div>
        </form>
      </div>
      <div flex="20"></div>
    </md-card>
    <br>
    <md-content layout="column" layout-padding style="position: relative;">
      <div layout="row" layout-align="center center" flex layout-wrap>
        <md-card flex="30" ng-repeat="rule in vm.rules" md-whiteframe="8">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{rule.description}}</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-accent" ng-click="vm.rules.$remove(rule)">Eliminar</md-button>
          </md-card-actions>
        </md-card>
      </div>
    </md-content>
  </md-content>
</main>

<md-toolbar class="md-medium-small">
  <div layout="row" layout-align="center center" flex class="footer">
    <span>
      Hecho con <md-icon md-svg-src="images/heart.svg"></md-icon> por <a href="http://www.martincarrera.xyz">un gordo</a>
    </span>
  </div>
</md-toolbar>
