<section class="">
  <div class="">
    <section class="">
      <ul>
        <li ng-repeat="rule in vm.rules">
          <input type="text" class="form-control" ng-model="rule.description" ng-change="vm.rules.$save(rule)" />
          <button class="" ng-click="vm.rules.$remove(rule)">Delete Rule</button>
        </li>
      </ul>
      <form ng-submit="vm.addRule()">
        <input type="text" class="form-control" ng-model="vm.newRuleText" />
        <button type="submit" class="">Add Rule</button>
      </form>
    </section>
  </div>
</section>
